@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0 auto;
	width: 960px ;
}

div .content {
	overflow: hidden;
}
div .activity {
	float: left;
	width: 478px;
	height: 350px;
	border-width: thin;
	border-color: black;
	border-style: solid;
}
div .notice {
	float: right;
	width: 478px;
	height: 350px;
	border-width: thin;
	border-color: black;
	border-style: solid;
}

#topMenu {
	height: 30px; 
	width: 800px;
	display: inline-block;
}
#topMenu ul li {
	list-style: none;
	color: white;
	background-color: #2d2d2d;
	float: left;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
}
#topMenu .menuLink {
	text-decoration: none;
	color: white;
	display: block;
	width: 150px;
	font-size: 15px;
	font-weight: bold;
}
#topMenu .menuLink:hover {
	color: red;
	background-color: #4d4d4d;
}

footer {
	text-align: center;
}