@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0 auto;
	width: 960px ;
	background-color: #E2E2E2;
}
table{
	border : 0px;
	border-collapse: collapse
	
}
td { 
	border : 0
}
th {
	border : 0px;
	background-color: burlywood
}
tr {
	border-bottom: dotted;
	border-width: 2px;
}
.main_header {
	height:50px;
}
.logo {
	width: 50px;
}
.profileImg {
	width: 200px;
}
.main_board {
	background-color: white;
	overflow: hidden;
}
.noticeList {
	list-style-position: inside;
	margin-top: 10px;
	margin-left: 10px;
}
.intTitle {
	font-size: 25px;
}
.left {
	float: left;
}
.right {
	float: right;
}

div .content {
	overflow: hidden;
}
div .activity {
	float: left;
	width: 478px;
	height: 350px;
	border-width: thin;
	border-color: black;
	border-style: solid;
}
div .notice {
	float: right;
	width: 478px;
	height: 350px;
	border-width: thin;
	border-color: black;
	border-style: solid;
}
.middle {
	overflow: hidden;
}
#head .profile {
	list-style: none;
	margin-top: 50px;
	text-align: center;
	float: left;
	margin-left: 70px;
	margin-right: 70px;
	height: 400px;
	width: 300px;
}
#head .sub {
	margin-top: 10px;
	font-style: italic;
}
#head .name {
	margin-top: 10px;
	font-weight: bold;
	font-size: 20px;
}

#tail .profile {
	list-style: none;
	margin-top: 50px;
	text-align: center;
	float: left;
	margin-left: 70px;
	margin-right: 70px;
	height: 400px;
	width: 300px;
}
#tail .sub {
	margin-top: 10px;
	font-style: italic;
}
#tail .name {
	margin-top: 10px;
	font-weight: bold;
	font-size: 20px;
}
#tail .plus {
	color: #299F1B;
	margin-top: 10px;
}

#topMenu {
	height: 50px; 
	width: 904px;
	display: inline-block;
}
#topMenu ul li {
	list-style: none;
	color: white;
	background-color: #C4CFA6;
	float: left;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
}
#topMenu .menuLink {
	text-decoration: none;
	color: black;
	display: block;
	width: 226px;
	font-size: 15px;
	font-weight: bold;
}
#topMenu .menuLink:hover {
	color: white;
	background-color: #d2b96a;
}

footer {
	text-align: center;
}
